version: '3'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    networks:
      - main

  server:
    build:
      context: ./server
    container_name: server
    ports:
      - "9000:9000"
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - ./server:/home/node/app
    networks:
      - main

  client:
    build:
      context: ./client
    container_name: client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
    networks:
      - main

networks:
  main:
    driver: bridge
