# Ignore node_modules directory
node_modules

# Ignore any build or output directories
dist
out

# Ignore any development-specific files
*.log
*.env
.DS_Store

# Ignore any editor-specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace
