@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-white {
    @apply py-2 px-4 rounded-lg border border-gray-300 hover:bg-gray-100;
  }

  .btn-disable {
    @apply py-2 px-4 rounded-lg border border-gray-300 bg-gray-200 text-gray-500 cursor-auto;
  }

  .btn-round {
    @apply rounded-full py-2.5;
  }

  .card {
    @apply border border-gray-300 rounded-lg shadow-sm relative;
  }

  .text-xxs {
    font-size: 0.625rem; /* 10px */
    line-height: 0.875rem; /* 14px */
  }

  .text-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
  }
}
