@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply bg-primary text-white py-2 px-4 rounded-md hover:bg-primary-dark;
    }

    .btn-white {
      @apply py-2 px-4 rounded-md border border-gray-300 hover:bg-gray-100;
    }

    .btn-round{
      @apply rounded-full py-2.5;
    }

    .card{
      @apply bg-white border border-gray-300 rounded-md shadow-sm relative;
    }

    .text-xxs {
      font-size: 0.625rem; /* 10px */
      line-height: 0.875rem; /* 14px */
    }

    .text-vertical {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      white-space: nowrap;
    }
  }